<div class="col-md-3">
    <div class="card product-card">
        <div class="card-body" style="text-transform: capitalize;">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{genre}}</h6>
            <p class="card-text">
                <strong>Language:</strong> {{language}}<br>
                <strong>Rating:</strong> {{rating}}<br>
                <strong>Duration:</strong> {{duration}} min<br>
                <strong>Year:</strong> {{year}}<br>
            </p>
            <button class="btn btn-primary buy-now-btn" data-product='{{movie}}'>Watch Now</button>
        </div>
    </div>
</div>